@font-face {
    font-family: 'Reforma';
    src: url('Reformagroteskmediumc.otf');
}

@font-face {
    font-family: 'ReformaB';
    src: url('ReformaGroteskBoldC.ttf');
}

@font-face {
    font-family: 'ReformaC';
    src: url('ReformaGroteskDemiC.ttf');
}

*{
    padding: 0;
    margin: 0;
}

.firstBlock{
    width: 100%px;
    height: 1000px;
    background-image: url(Rectangle\ 64.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    width: 1920px;
    height: 100px;
}

.CenterHeader{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 40px;
}

.threelines{
    margin-top: auto;
    margin-bottom: auto;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 0.72px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    font-family: 'Reforma';
}

.text{
    width: 1200px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: -60px;

}

.nifiga{
    height: 188px;
    color:  #DB3138;
    font-size: 150px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'ReformaB';
}

.lorem{
    margin: auto;
    text-align: center;
    width: 437px;
    height: 96px;
    color: white;
    line-height: 120%;
    margin-top: 100px;
    font-family: 'Reforma';
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
}

.mt{
    margin-top: 140px;
}

.itnotdots{
    margin-left: auto;
    margin-right: auto;
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.knopka{
    width: 144px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Reforma';
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: white;
    background-color:#DB3138;
    border: none;
    position: relative;
    bottom: 60px;
    
}

.pad{
    position: relative;
    left: 30px;
}
.secondBlock{
    width: 100%px;
    height: 1000px;
    background-color: black;
    display: flex;
}

.divvdive{
    width: 1296px;
    height: 745px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.div1{
    width: 648px;
    height: 745px;
}

.div2{
    width: 648px;
    height: 745px;
    display: flex;
}

.achievments{
    font-size: 52px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'ReformaC';
}

.tableee{
    width: 100%;
    height: 160px;
    text-align: center;
    border: 1px white solid;
    border-left: none;
    border-right: none;
}

.tdshka{
    border-right: 2px white solid;
    width: 640px; 
}

.white{
color: white;
font-family: 'ReformaC';
font-size: 18px;
letter-spacing: 0.9px;
text-transform: uppercase;
margin-top: -30px ;
}

.red{
    width: 350px;
    height: 50px;
    font-family: 'ReformaC';
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #DB3138;
    margin: auto;
    margin-top: 30px;
}

.red1{
    width: 350px;
    height: 50px;
    font-family: 'ReformaGroteskDemiC';
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #DB3138;
    margin: auto;
    margin-top: 10px;
    
}

.white1{
    color: white;
    font-family: 'ReformaC';
    font-size: 18px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 10px ;
}

.itnotdots1{
    margin-top: 40px;
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.textttt{
    width: 526px;
    height: 116px;
    color: white;
    margin-top: 40px;
    font-family: 'Reforma';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

.table11{
height: 708px;
width: 318px;
text-align: center;
}

.td1{
    border: 1px white solid;
    height: 177px;
}

.table12{
    height: 708px;
    width: 318px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    right: 5px;
}

.red12{
    color: #DB3138;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 140%;
    font-family: 'ReformaC';
}

.white12{
    color: white;
    font-family: 'ReformaC';
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%;
letter-spacing: 0.8px;
text-transform: uppercase;
}

.up1{
    position: relative;
    bottom: 3px;
}

.up2{
    position: relative;
    bottom: 6px;
}

.up3{
    position: relative;
    bottom: 9px;
}

.thirdblock{
    width: 100%;
    height: 450px;
    background-color: black;
}

.divindiv{
    margin: auto;
    width: 1558px;
    height: 420px;
    display: flex;
}

.rotateleft{
    width: 50px;
    height: 50px;
    border: red 4px solid;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(45deg);
}

.dontrotate{
    transform: rotate(-45deg);
    margin-top: 11px;
    margin-left: 9px;
}

.car{
    width: 416px;
    height: 350px;
    margin-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
   
}

.car1{
    width: 416px;
    height: 350px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.anothermargin{
    margin-left: 60px;
}

.textandred{
    width: 366px;
    height: 70px;
    background-color: #DB3138;
    position: relative;
    bottom: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.anotherlorem{
    width: 286px;
    font-family: 'ReformaC';
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}

.fourthblock{
    width: 100%;
    height: 900px;
    background-color: black;
    display: flex;
}

.mainspace{
    width: 1296px;
    height: 663px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.firrst{
    height: 663px;
    width: 648px;  
   
}

.seccond{
    height: 663px;
    width: 648px;
   
}

.mashinka{
    width: 57px;
    height: 70px;
}

.bigtext{
    width: 423px;
    height: 43px;
    font-family: 'ReformaC';
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: white;
    margin-left: 37px;
}

.name1{
    display: flex;  
}

.texxt{
    margin-top: 30px;
    width: 526px;
    height: 58px;
    font-family: 'Reforma';
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.72px;
    color: white;
}

.itnotdots12{
    margin-left: 200px;
    margin-top: 80px;
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.name2{
    display: flex;
    margin-top: 40px;  
}

.textslider{
    width: 636px;
    height: 71px;
    display: flex;
    margin-top: 50px;
    justify-content:space-between ;
}

.texxxt{
    width: 422px;
    height: 50px;
    font-family: 'ReformaC';
    font-size: 18px;
    color: white;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.fifthblock{
    width: 100%;
    height: 1000px;
    background-color: black;
    display: flex;
}

.workspace2{
    width: 1296px;
    height: 771px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.services{
    width: 636px ;
    height: 73px ;
    font-family: 'ReformaC';
    font-size: 52px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.itnotdots13{
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.buttons{
    width: 450px;
    height: 75px;
    position: relative;
    top: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sticker{
    width: 180px;
    height: 75px;
    background-color: #DB3138;
    border: none;
    color: white;
}

.sticker2{
    width: 209px;
    height: 75px;
    background-color: black;
    border: none;
    color: white;
}

.stickertext{
    font-family: 'ReformaC';
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.tdshechka{
    width: 306px;
    height: 428px;
    border: 1px white solid;
    
   
   
}

.wtf{
    margin-top: 160px;
    width: 1296px;
    height: 430px;
}

.kartinka{
    margin-left: 125px;
    width: 70px;
    height: 57px;
    margin-top: 0px;
}

.bigtexxt{
    margin-left: 75px;
    font-family: 'ReformaC';
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: white;
    margin-top: 28px;
}

.smoltext{
    width: 226px;
    height: 88px;
    margin: 0 auto;
    color: white;
    font-family: 'ReformaC';
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.anotherbutton{
    width: 60px;
    height: 41px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: #DB3138;
    border: none;
}

.textlevee{
    font-family: 'ReformaC';
    font-size: 18px;
    color: white;
    line-height: 140%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    position: relative;
    left: 20px;
}

.kartinka2{
    margin-left: 125px;
    width: 57px;
    height: 71px;
    margin-top: -10px;
}

.kartinka3{
    margin-left: 125px;
    width: 70px;
    height: 45px;
    margin-top: 20px;
}

.kartinka4{
    margin-left: 125px;
    width: 70px;
    height: 70px;
    margin-top: 0px;
}

.sixblock{
    width: 100%;
    height: 900px;
    background-color: black;
    display: flex;
}

.firrst1{
    height: 663px;
    width: 648px;  
}

.jester{
    margin-left: 100px;
}

.morepictures{
    width: 100%;
    height: 1028px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.font{
    font-family: 'ReformaC';
    color: white;
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 2.6px;
    text-transform: uppercase;
}

.sometext{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.itnotdots13{
    width: 146px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}

.nifiga{
    margin-top: 60px;
}

.qna{
    width: 100%;
    height: 1000px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.centerplease{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.margin{
    margin-top: 170px;
}

.another{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sonson{
   width: 147px;
   height: 15px;
}

.finalwork{
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

.twoinputs{
    width: 700px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.inputs{
    width: 340px;
    height: 47px;
    background-color: black;
    color: white;
    font-family: 'ReformaC';
    font-size: 20px;
    border: 1px white solid;
    text-transform: uppercase;
}

.inputandlinks{
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.input2{
    width: 550px;
    height: 200px;
    background-color: black;
    color: white;
    font-family: 'ReformaC';
    font-size: 20px;
    border: 1px white solid;
    text-transform: uppercase;
    text-align:justify;
}

.miniwork{
    width: 60px;
    height: 200px;
}

.lol{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    width: 30px;
    height: 30px;
}

.margin2{
    margin-top: 37px;
}

.buttonandinfo{
    width: 700px;
    height: 70px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.but{
    background-color: #DB3138;
    border: none;
    font-family: 'ReformaC';
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.itired{
    width: 350px;
    height: 70px;
}

.firstline{
    display: flex;
    color: white;
    font-family: 'ReformaC';
    font-size: 20px;
}

.mg{
    margin-left: 10px;
}

.secondline{
    display: flex;
    color: white;
    font-family: 'ReformaC';
    font-size: 20px;
}

.df{
    display: flex;
}

.mg2{
    margin-left: 40px;
}

.mgt{
    margin-top: 15px;
}

.almostfinal{
    width: 100%;
    height: 100px;
    margin-top: 200px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.lasttext{
font-family: 'ReformaC';
font-size: 16px;
line-height: 140%; 
letter-spacing: 0.8px;
text-transform: uppercase;
color: gray;
margin-top: auto;
margin-bottom: auto;
}

.fourlinks{
    margin-top: auto;
    margin-bottom: auto;
}

.mgr{
    margin-right: 30px;
}